@media (maxwidth:239px){
     
}
@media  (min-width:240px){
    /* modal */
    .modal-sadrzaj{
        z-index: 2;
        background-color:#fefefe;
        margin: 15% auto;
        padding:20px;
        border:1px solid black;
        width:192px;
        height:96px;
        overflow: scroll;
        font-size: 12px;
    }
    
    .zatvori{
        color:#aaa;
        float:right;
        font-size:12px;
        font-weight:bold;
    }
    
    .zatvori:hover{
        color:black;
        text-decoration:none;
        cursor:pointer;
    }
    
    #tekst{
    text-align: center;
    }

    #divmodal{
        text-align: center;
    }
/* modal kraj */
    #dugmici{
        text-align: center;
       
    }
    #brojevi,#brojevi2{
        margin: 0 auto;
        width: 90%;
        border: 2px solid green;
        padding: 2px;
        text-align: center;
    }
    #brojevipom{
        width:100%;
        
        
    }
    /* #brojevipom2{
        width:100%;
        
        
    } */
    #telefonskakombinacija {
        text-align: center;
    }
    #dugme{
        margin-left: 14px;
    }
    
    
input{
    width: 20px;
}
#i{
    width:60px;
}
#dugme1,#dugme2,#dugme3,
#dugme4,#dugme5,#dugme6,
#dugme7,#dugme8,#dugme9,
#dugme10,#dugme11,#dugme12,
#dugme13,#dugme14,#dugme15,
#dugme16,#dugme17,#dugme18,
#dugme19,#dugme20,#dugme21,
#dugme22,#dugme23,#dugme24,
#dugme25,#dugme26,#dugme27,
#dugme28,#dugme29,#dugme30,
#dugme31,#dugme32,#dugme33,
#dugme34,#dugme35,#dugme36,
#dugme37,#dugme38,#dugme39
{
border-radius: 50%;
color:lightgreen;
background-color: blueviolet;
width:66px;
height:66px;
font-size: 12px;
}
#i1,#i2,#i3,#i4,#i5,#i6,#i7,
#ii1,#ii2,#ii3,#ii4,#ii5,#ii6,#ii7
{
    width: 9%;
}
#kontejner{
    margin: 0 auto;
    width: 90%;
    border: 0 solid green;
    padding: 2px;
    text-align: center;
}
}


@media  (min-width:320px){
    /* modal */
    .modal-sadrzaj{
        z-index: 2;
        background-color:#fefefe;
        margin: 15% auto;
        padding:20px;
        border:1px solid black;
        width:256px;
        height:128px;
        overflow: scroll;
        font-size:15px;
    }
    
    .zatvori{
        color:#aaa;
        float:right;
        font-size:15px;
        font-weight:bold;
    }
    
    .zatvori:hover{
        color:black;
        text-decoration:none;
        cursor:pointer;
    }
    
    #tekst{
    text-align: center;
    }

    #divmodal{
        text-align: center;
    }
/* kraj modala */
#dugme1,#dugme2,#dugme3,
#dugme4,#dugme5,#dugme6,
#dugme7,#dugme8,#dugme9,
#dugme10,#dugme11,#dugme12,
#dugme13,#dugme14,#dugme15,
#dugme16,#dugme17,#dugme18,
#dugme19,#dugme20,#dugme21,
#dugme22,#dugme23,#dugme24,
#dugme25,#dugme26,#dugme27,
#dugme28,#dugme29,#dugme30,
#dugme31,#dugme32,#dugme33,
#dugme34,#dugme35,#dugme36,
#dugme37,#dugme38,#dugme39
{
border-radius: 50%;
color:lightgreen;
background-color: blueviolet;
width:90px;
height:90px;
font-size: 16px;
}
#i1,#i2,#i3,#i4,#i5,#i6,#i7,
#ii1,#ii2,#ii3,#ii4,#ii5,#ii6,#ii7{
    width: 10%;
}

}

@media  (min-width:480px){
    /* modal */
    .modal-sadrzaj{
        z-index: 2;
        background-color:#fefefe;
        margin: 15% auto;
        padding:20px;
        border:1px solid black;
        width:384px;
        height:192px;
        overflow: scroll;
        font-size:22px;
    }
    
    .zatvori{
        color:#aaa;
        float:right;
        font-size:22px;
        font-weight:bold;
    }
    
    .zatvori:hover{
        color:black;
        text-decoration:none;
        cursor:pointer;
    }
    
    #tekst{
    text-align: center;
    }

    #divmodal{
        text-align: center;
    }

    /* kraj modala */
    #dugme1,#dugme2,#dugme3,
    #dugme4,#dugme5,#dugme6,
    #dugme7,#dugme8,#dugme9,
    #dugme10,#dugme11,#dugme12,
    #dugme13,#dugme14,#dugme15,
    #dugme16,#dugme17,#dugme18,
    #dugme19,#dugme20,#dugme21,
    #dugme22,#dugme23,#dugme24,
    #dugme25,#dugme26,#dugme27,
    #dugme28,#dugme29,#dugme30,
    #dugme31,#dugme32,#dugme33,
    #dugme34,#dugme35,#dugme36,
    #dugme37,#dugme38,#dugme39
    {
    border-radius: 50%;
    color:lightgreen;
    background-color: blueviolet;
    width:120px;
    height:120px;
    font-size: 24px;
    }
    #i1,#i2,#i3,#i4,#i5,#i6,#i7,
#ii1,#ii2,#ii3,#ii4,#ii5,#ii6,#ii7{
        width: 10%;
    }
    
    }

    @media  (min-width:600px){
        /* modal */
        .modal-sadrzaj{
            z-index: 2;
            background-color:#fefefe;
            margin: 15% auto;
            padding:20px;
            border:1px solid black;
            width:480px;
            height:240px;
            overflow: scroll;
            font-size:22px;
        }
        
        .zatvori{
            color:#aaa;
            float:right;
            font-size:22px;
            font-weight:bold;
        }
        
        .zatvori:hover{
            color:black;
            text-decoration:none;
            cursor:pointer;
        }
        
        #tekst{
        text-align: center;
        }

        #divmodal{
            text-align: center;
        }
  /* kraj modala */
        #dugme1,#dugme2,#dugme3,
        #dugme4,#dugme5,#dugme6,
        #dugme7,#dugme8,#dugme9,
        #dugme10,#dugme11,#dugme12,
        #dugme13,#dugme14,#dugme15,
        #dugme16,#dugme17,#dugme18,
        #dugme19,#dugme20,#dugme21,
        #dugme22,#dugme23,#dugme24,
        #dugme25,#dugme26,#dugme27,
        #dugme28,#dugme29,#dugme30,
        #dugme31,#dugme32,#dugme33,
        #dugme34,#dugme35,#dugme36,
        #dugme37,#dugme38,#dugme39
        {
        border-radius: 50%;
        color:lightgreen;
        background-color: blueviolet;
        width:150px;
        height:150px;
        font-size: 30px;
        }
        #i1,#i2,#i3,#i4,#i5,#i6,#i7,
#ii1,#ii2,#ii3,#ii4,#ii5,#ii6,#ii7{
            width: 10%;
        }
        
        }

        .modal{
            display:none;
            position:fixed;
            z-index:0.5;
            left:0;
            top:0;
            width:100%;
            outerHeight:100%;
            overflow:auto;  
            background-color:rgb(0,0,0,0.4);
             min-height: 100%;
            /* background-image: url("IMG_4368.jpeg"); */
        }
